@model List<SistemaComentarios.Models.Comentario>

<!DOCTYPE html>
<html lang="pt-br">
<header>
    <meta charset="utf-8" name="viewport" content="width-device-width">
    <title>Lista de Comentários</title>
</header>
<body>
    <h2>Comentários</h2>
    <a href="@Url.Action("Criar")">Adicione um comentário</a>

    <table>
        <tr>
            <th>Autor</th>
            <th>Texto</th>
            <th>Data</th>
        </tr>
    </table>
</body>
</html>

